@tailwind base;
@tailwind components;
@tailwind utilities;

/* .scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 0.5;
  background-color: rgb(235, 71, 62);
  background-color: rgba(235, 71, 62, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
} */

@layer base {
  * {
    @apply box-border p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-light-1 dark:bg-dark-2 text-black dark:text-white h-lvh overflow-hidden font-inter;
  }
}

@layer utilities {
  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[36px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center gap-10 h-full;
  }

  .isfetching-flex {
    @apply flex flex-1 h-lvh items-center justify-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 2px;
  }

  /* Light mode */
  .custom-scrollbar::-webkit-scrollbar-track {
    --bg-opacity: 0;
    background-color: #f7fafc; /* Light mode background color */
    background-color: rgba(247, 250, 252, var(--bg-opacity));
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    --bg-opacity: 0.7;
    background-color: #F6D658;
    background-color: rgba(246, 214, 88, var(--bg-opacity));
    border-radius: 0.25rem;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #F6D658;
  }

  /* Home */
  .common-container {
    @apply flex flex-col flex-1 items-center gap-10 py-10 px-5 md:px-8 lg:p-14 h-lvh max-sm:pb-40 custom-scrollbar overflow-y-auto;
  }

  .home-agendas {
    @apply max-w-screen-sm flex flex-col items-center w-full gap-6 md:gap-9;
  }

  .home-creators {
    @apply hidden xl:flex flex-col w-72 2xl:w-465 px-6 py-10 gap-10;
  }

  /* Explore */
  .explore-container {
    @apply flex flex-col flex-1  items-center justify-center min-h-lvh bg-black custom-scrollbar overflow-y-auto max-sm:pb-40;
  }
  /* agenda Details */
  .agenda_details-container {
    @apply flex flex-col flex-1 items-center h-lvh gap-10 py-10 px-5 md:p-14 custom-scrollbar overflow-y-auto max-sm:pb-40;
  }

  .agenda_details-card {
    @apply bg-light-1 dark:bg-dark-2 w-full max-w-5xl rounded-[30px] flex-col flex xl:flex-row border border-light-4 dark:border-dark-4 xl:rounded-l-[24px];
  }

  .agenda_details-img {
    @apply h-80 w-full lg:h-[480px]  xl:w-[48%] rounded-t-[30px] xl:rounded-l-[24px] xl:rounded-tr-none object-cover p-5 bg-light-1 dark:bg-dark-1;
  }

  .agenda_details-info {
    @apply bg-light-1 dark:bg-dark-2 flex flex-col gap-5 lg:gap-7 flex-1 items-start p-8 rounded-[30px];
  }

  .agenda_details-delete_btn {
    @apply p-0 flex gap-3 hover:bg-transparent hover:text-dark-1  dark:hover:text-light-1  text-dark-1 dark:text-light-1 small-medium lg:base-medium;
  }

  /* Profile */
  .profile-container {
    @apply flex flex-col flex-1 items-center  gap-10 py-10  px-5 md:p-14 h-lvh overflow-y-auto custom-scrollbar max-sm:pb-40;
  }

  .profile-inner_container {
    @apply flex items-center md:mb-8 xl:items-start gap-8 flex-col xl:flex-row relative max-w-5xl w-full;
  }

  .profile-tab {
    @apply flex-center gap-3 py-4 w-48 bg-light-1 dark:bg-dark-2  transition flex-1 xl:flex-initial;
  }

  /* File uploader */
  .file_uploader-img {
    @apply h-80 lg:h-[480px] w-full rounded-[24px] object-cover object-top;
  }

  .file_uploader-label {
    @apply text-light-4 text-center small-regular w-full p-4 border-t border-t-light-4 dark:border-t-dark-4;
  }

  .file_uploader-box {
    @apply flex-center flex-col p-7 h-80 lg:h-[612px];
  }

  /* Left sidebar */
  .leftsidebar {
    @apply hidden md:flex px-6 py-10 flex-col justify-between min-w-[270px] h-lvh bg-light-2 dark:bg-dark-4;
  }

  .leftsidebar-link {
    @apply rounded-lg base-medium hover:bg-primary-500 transition;
  }

  /* agenda Card */
  .agenda-card {
    @apply bg-light-1 dark:bg-dark-2 rounded-3xl border border-light-4  dark:border-dark-4 p-5 lg:p-7 w-full max-w-screen-sm;
  }

  .agenda-card_img {
    @apply h-64 xs:h-[400px] lg:h-[450px] w-full rounded-[24px] object-cover mb-5;
  }

  /* Topbar */
  .topbar {
    @apply sticky top-0 z-50 md:hidden bg-light-2 dark:bg-dark-2 w-full;
  }

  /* Bottom bar */
  .bottom-bar {
    @apply z-50 flex-between w-full sticky bottom-0 rounded-t-[20px] bg-light-2 dark:bg-dark-2 px-3 py-2 md:hidden;
  }

  /* User card */
  .user-card {
    @apply flex-center flex-col gap-4 border border-light-4 dark:border-dark-4 rounded-[20px] px-5 py-8;
  }
}

@layer components {
  /* SHADCN COMPONENTS */
  /* Form */
  .shad-form_label {
    @apply text-black dark:text-white !important;
  }

  .shad-form_message {
    @apply text-red !important;
  }

  .shad-input {
    @apply h-12 bg-light-2 dark:bg-dark-4 border-none placeholder:text-light-4 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3 !important;
  }

  .shad-textarea {
    @apply h-36 bg-light-2 dark:bg-dark-3  rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3 !important;
  }

  /* Button */
  .shad-button_primary {
    @apply bg-primary-500 hover:bg-primary-500 text-light-1 flex gap-2 !important;
  }

  .shad-button_dark_4 {
    @apply h-12 bg-dark-4 px-5 text-light-1 flex gap-2 !important;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-black dark:hover:text-white !important;
  }
}
